<!DOCTYPE html>
<html>
  <head>
    <title>아비스 네트워크 XML 문서</title>

    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <!-- Bootstrap CDN -->
    <link href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' />
    <!-- Local CSS -->
    <link href='/css/main.css' rel='stylesheet' />
    <link href='/css/navbar.css' rel='stylesheet' />
    <link href='/css/jumbotron.css' rel='stylesheet' />
    <link href='/css/button.css' rel='stylesheet' />
    <link href='/css/map.css' rel='stylesheet' />
    <link href='/css/sidebar.css' rel='stylesheet' />
    <link href='/css/custom-highlight.css' rel='stylesheet' />
    <!-- emoji css -->
    <link rel='stylesheet' href='https://unpkg.com/emoji.css/dist/emoji.min.css'>
    <!-- favicon image -->
    <link href='/img/favicon.ico' rel='shortcut icon' type='image/x-icon' />
    <link href='/img/favicon.ico' rel='apple-touch-icon' type='image/x-icon' />
    <!-- Fonts & Others -->
    <link href='//fonts.googleapis.com/earlyaccess/notosanskr.css' />
    <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' />
    <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>$(function () { $("[data-toggle='tooltip']").tooltip(); });</script>
    <script>$(document).ready(function() { $('span.highlight > code').each(function(i, block) {hljs.highlightBlock(block);}); });</script>
    <script>
								$.getJSON('https://mcapi.us/server/status?ip=arkanetwork.net', function(server) {
									var status = server.status;
									var statusBtn = document.querySelector('.status');
									if (status) {
										var players = server.online;
										statusBtn.innerHTML = '<i class="fa fa-circle" style="color:green"></i> <small>모든 서비스가 정상적으로 작동중입니다.</small>';
									}
									else {
										statusBtn.innerHTML = '<i class="fa fa-circle" style="color:red"></i> <small>현재 오류를 확인중에 있습니다.</small>';
									}
								});
		</script>
    <!-- WIP:
    <script>
              var request = new XMLHttpRequest();
              request.open('GET', 'https://sessionserver.mojang.com', true);
              request.setRequestHeader('Access-Control-Allow-Origin', '*');
              request.setRequestHeader('Content-Type', 'application/json');
              request.onerror = function(XMLHttpRequest, textStatus, errorThrown) {
                console.log('Failed to parase data from Mojang API');
                console.log(JSON.stringify(XMLHttpRequest));
              }
              request.onload = function() {
                console.log('DEBUG:: SUCCESS!')
              }

              $.getJSON('https://sessionserver.mojang.com', function(mojang) {
                var status = mojang.status;
                var mojangStatusBtn = document.querySelector('.mojangStatus');
                if (status) {
                  var online = mojang.online;
                  mojangStatusBtn.innerHTML = '<i class="fa fa-circle" style="color:green"></i> <small>모든 서비스가 정상적으로 작동중입니다.</small>';
                }
                else {
                  mojangStatusBtn.innerHTML = '<i class="fa fa-circle" style="color:red"></i> <small>현재 오류를 확인중에 있습니다.</small>';
                }
              });
    </script>
  -->
    <script>jQuery(document).ready(function(){var btn=$('#button');$(window).scroll(function(){if($(window).scrollTop()>300){btn.addClass('show')}else{btn.removeClass('show')}});btn.on('click',function(e){e.preventDefault();$('html, body').animate({scrollTop:0},'300')})});</script>
  </head>
  <body {% if page.url != "/" %}style= "padding-top: 50px;"{% endif %}>
    <header class='{% if page.url == "/" %}navbar navbar-default navbar-static-top{% else %}navbar navbar-default navbar-fixed-top{% endif %}' role='navigation'>
      <div class='container'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'>
            <img width="48" height="48" src='/img/logo.png' />
            아비스 네트워크 XML 문서
          </a>
          <button class='navbar-toggle' data-target='.navbar-main-collapse' data-toggle='collapse' type='button'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
        </div>
        <nav class='collapse navbar-collapse navbar-main-collapse'>
          <ul class='nav navbar-nav navbar-right'>
            <li class='{% if page.url == "/" %}active{% endif %}'>
              <a href='/'>
                <i class='fa fa-home'></i>
                홈
              </a>
            </li>
            <li class='{% if page.url contains "/modules/" %}active{% endif %}'>
              <a href='/modules/main'>
                <i class='fa fa-th-large'></i>
                모듈
              </a>
            </li>
            <li class='{% if page.url contains "/reference/" %}active{% endif %}'>
              <a href='/reference/inventory'>
                <i class='fa fa-book'></i>
                참고 자료
              </a>
            </li>
            <li class='{% if page.url contains "/guides/" %}active{% endif %}'>
              <a href='/guides/packaging/cleaning_files'>
                <i class='fa fa-clipboard'></i>
                가이드
              </a>
            </li>
            <li class='{% if page.url contains "/examples/" %}active{% endif %}'>
              <a href='/examples'>
                <i class='fa fa-file-text'></i>
                예시
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {{ content }}

    <div class='container'>
      <hr />
      <footer class='docs-footer'>
        <ul class='nav nav-pills'>
          <li class='pull-left'>
            <a href="http://cafe.naver.com/avisnetwork">&copy; 2017 Avis Network</a>
          </li>
          <li class="pull-right dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="fa fa-caret-up" aria-hidden="true"></b></a>
            <ul class="dropdown-menu drop-up">
              <li class="statusHeader">
                <span>
                  <h6>아르카 네트워크</h6>
                </span>
              </li>
              <li>
                <a href="https://status.chemistryx.me">
                  <span class="status"></span>
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="https://chemistryx.me">
                  <h6>Made with <span class="ec ec-sparkling-heart"></span> by ChemistryX</h6>
                </a>
              </li>
      <!--        <li class="statusHeader">
                <span>
                  <h6>마인크래프트</h6>
                </span>
              </li>
              <li>
                <a href="https://help.mojang.com">
                  <span class="mojangStatus"></span>
                </a>
              </li>
            -->
            </ul>
          </li>

  <!-- Removed Until further notice
        <li class="pull-right dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-globe'></i> 언어 <b class="fa fa-caret-up" aria-hidden="true"></b></a>
            <ul class="dropdown-menu drop-up">
              <li><a href="#">한국어</a></li>
              <li><a href="#">English</a></li>
            </ul>
          </li>
        -->
          <li class="pull-right">
            <a href="https://github.com/avisnetwork" target="_blank">
              <i class="fa fa-github-alt" aria-hidden="true"></i>
               GitHub
            </a>
          </li>
          <li class="pull-right">
            <a href="https://discord.me/arkanetwork" target="_blank">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
               Discord
             </a>
          </li>
        </ul>
      </footer>
    </div>
    <a id="button"></a>
  </body>
</html>
