<!DOCTYPE html>
<html>
  <head>
    <title>아비스 네트워크 XML 문서</title>

    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta name="description" content="아비스 네트워크에 추가될 각 맵에 필요한 XML에 대한 가이드 문서">
    <meta property="og:type" content="website">
    <meta property="og:title" content="아비스 네트워크 XML 문서">
    <meta property="og:description" content="아비스 네트워크에 추가될 각 맵에 필요한 XML에 대한 가이드 문서">
    <meta property="og:image" content="/img/bg.png">
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="300">
    <meta property="og:url" content="https://docs.chemistryx.me">
    <!-- Bootstrap CDN -->
    <link href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' />
    <!-- Avis provided CSS -->
    <link href='/css/main.css' rel='stylesheet' />
    <link href='/css/navbar.css' rel='stylesheet' />
    <link href='/css/jumbotron.css' rel='stylesheet' />
    <link href='/css/button.css' rel='stylesheet' />
    <link href='/css/map.css' rel='stylesheet' />
    <link href='/css/sidebar.css' rel='stylesheet' />
    <link href='/css/colors.css' rel='stylesheet' />
    <link href='/css/custom-highlight.css' rel='stylesheet' />
    <!-- favicon image -->
    <link href='/img/favicon.ico' rel='shortcut icon' type='image/x-icon' />
    <link href='/img/favicon.ico' rel='apple-touch-icon' type='image/x-icon' />
    <!-- Typekit -->
    <script src="https://use.typekit.net/rea7yia.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/v4-shims.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>$(function () { $("[data-toggle='tooltip']").tooltip(); });</script>
    <script>$(document).ready(function() { $('span.highlight > code').each(function(i, block) {hljs.highlightBlock(block);}); });</script>
    <script>jQuery(document).ready(function(){var btn=$('#button');$(window).scroll(function(){if($(window).scrollTop()>300){btn.addClass('show')}else{btn.removeClass('show')}});btn.on('click',function(e){e.preventDefault();$('html, body').animate({scrollTop:0},'300')})});</script>
  </head>
  <body {% if page.url != "/" %}style= "padding-top: 50px;"{% endif %}>
    <header class='{% if page.url == "/" %}navbar navbar-default navbar-static-top{% else %}navbar navbar-default navbar-fixed-top{% endif %}' role='navigation'>
      <div class='container'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'>
            <img width="32" height="32" src='/img/logo.png' />
            아비스 네트워크 XML 문서
          </a>
          <button class='navbar-toggle' data-target='.navbar-main-collapse' data-toggle='collapse' type='button'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
        </div>
        <nav class='collapse navbar-collapse navbar-main-collapse'>
          <ul class='nav navbar-nav navbar-right'>
            <li class='{% if page.url contains "/modules/" %}active{% endif %}'>
              <a href='/modules/main'>
                <i class='fas fa-align-justify'></i>
                모듈
              </a>
            </li>
            <li class='{% if page.url contains "/reference/" %}active{% endif %}'>
              <a href='/reference/inventory'>
                <i class='far fa-copy'></i>
                참고 자료
              </a>
            </li>
            <li class='{% if page.url contains "/guides/" %}active{% endif %}'>
              <a href='/guides/packaging/cleaning_files'>
                <i class='far fa-clipboard'></i>
                가이드
              </a>
            </li>
            <li class='{% if page.url contains "/examples/" %}active{% endif %}'>
              <a href='/examples'>
                <i class='far fa-file-alt'></i>
                예시
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {{ content }}

    <div class='container'>
      <hr />
      <footer class='docs-footer'>
        <ul class='nav nav-pills'>
          <li class='pull-left'>
            <a href="http://cafe.naver.com/avisnetwork">&copy; 2017 아비스 네트워크</a>
          </li>
          <li class="pull-right dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="fas fa-chevron-up" aria-hidden="true"></b></a>
            <ul class="dropdown-menu drop-up">
              <li>
                <a href="https://status.chemistryx.me">
                  <span>
                    <h6><i class="fas fa-sync"></i> 서버 상태</h6>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://chemistryx.me">
                  <h6>Made with <i class="fa fa-heart"></i> by ChemistryX</h6>
                </a>
              </li>
            </ul>
          </li>
          <li class="pull-right">
            <a href="https://github.com/avisnetwork" target="_blank">
              <i class="fab fa-github" aria-hidden="true"></i>
               GitHub
            </a>
          </li>
          <li class="pull-right">
            <a href="https://discord.me/arkanetwork" target="_blank">
              <i class="fab fa-discord" aria-hidden="true"></i>
               Discord
             </a>
          </li>
        </ul>
      </footer>
    </div>
    <a id="button"></a>
  </body>
</html>
